:root {
    --background-color: #0d1117;
    --div-background-color: #1c212b;
    --list-item-background-color: #252c37;
    --text-color: #c9d1d9;
    --accent-text-color: #0d74e7;
    --checkmark-color: #3fb950;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.container {
    height: calc(100vh - 40px);
    display: flex;
    padding: 20px;
}

.left {
    width: 50%;
    margin-right: 10px;
    height: 100%;
}

.right {
    width: 50%;
    margin-left: 10px;
    height: 100%;
}

h2 {
    margin-top: 0;
}

/* ABC-Info part (Top left) */
.abc-info {
    height: 20%;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-left: 40px;
}

.abc-logo {
    height: 175px;
}

.highlight {
    color: var(--accent-text-color);
}

.abc-text {
    margin-left: 30px;
    align-content: center;
}

/* Contributors part (Middle left) */
.contributors {
    background-color: var(--div-background-color);
    border-radius: 20px;
    padding: 20px;
    height: calc(60% - 20px);
}

.chart-container {
    height: calc(100% - 60px);
    align-content: center;
}

/* Stats part (Bottom left) */
.stats {
    background-color: var(--div-background-color);
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    height: calc(20% - 80px);
}

.stat {
    text-align: center;
    flex-grow: 1;
    align-content: center;
}

.stat h3 {
    margin: 0;
}

.stat h1{
    margin: 5px;
}

/* Prs part (Right) */
.prs {
    background-color: var(--div-background-color);
    border-radius: 20px;
    padding: 0 20px;
    overflow: hidden;
    height: 100%;
}

.pr-list-title {
    z-index: 2;
    position: relative;
    background-color: var(--div-background-color);
    padding-top: 20px;
    padding-bottom: 10px;
}

@keyframes scroll {
    0% {transform: translateY(0);}
    100% {transform: translateY(calc(-100%));}
}

.pr-list {
    animation-name: scroll;
    animation-duration: 45s;
    animation-timing-function: linear;
}

.pr {
    background-color: var(--list-item-background-color);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.pr.info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
}

.pr-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.pr img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 20px;
}

.check {
    margin-left: 7px;
    fill: var(--checkmark-color);
}
